/* reset */
*
{
    padding: 0em;
    margin: 0em;
    box-sizing: border-box;
}
/* raiz */
:root
{
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
}

/* Abaixo serão aplicados as formatacões para os respectivos elementos, normal.
    O problema, é que se diminuirmos a página ao máximo, ou se formos visualizá
    _la nos celulares, o tamanho da letra ficará muito pequena, compromentendo 
    a boa leitura que nas grandes telas nos é proporcionado.*/

#container-conteudo
{
    background-color: teal;
    color: white;
    text-align: justify;
    padding: 5%;
}

#container-conteudo h1
{
    text-align: center;
    margin-bottom: 2%;
    font-size: 3.8rem;
}

#container-conteudo p
{
    font-size: 1rem;
    margin-bottom: 1%;
}

/*  
    Podemos ver que definimos no :root um view width de 1 (1vw), então iremos mult
    _iplicar esse tamanho pela medida Rem. 1rem com 1vw dá aproximadamente 16px.
    O tamanho ficará proporcional independente do tamanho da página, pois o Rem 
    multiplica o numero que definimos pelo font-size do :root.
    
    Quando se faz um css desleixado, sem prestar atencão em tudo, esses ajustes
    serão bem trabalhosos podendo até levar a reescritura quase que completa 
    da formatacão da página. Por conta disso, devemos usar propriedades res
    _ponsivas e de fácil formatacão, mesmo que elas tenham uma curva de apren
    _dizado maior por ter mais 'sub-propriedades'.

    Iremos ajeitar o problema das pequenas telas facilmente com Media Querys.
    Elas nos dão a oportunidade de reescrever o estilo e mudar somente o necessário. 
    Uma folha de estilo  bem escrita faz com que a visualizacão em praticamente qualquer
    coisa seja bem vista, precisando de pequenos ajustes em dispositivos móveis ou tablets.
    
    Temos duas opcões: ou re-multiplicamos os parágrafos com uma nova medida
    (parte comentada) ou aumentamos o vw do root, criando um novo root. Definimos
    o @media, e as especificacões de onde devem ser aplicado essas novas configura
    _cões. Normalmente os celulares possuem tamanho menor de 600px.
    
    Aumentando o font-size do :root, ele pegará esse novo vw definido e aplicará nas 
    configuracões anteriores, de cada parágrafo. Antes, o H1 possuia um tamanho de
    3.8em * 1vw. Agora o mesmo parágrafo tem o tamanho de 3.8em * por 3.8vw.
    
    Media querys praticamente sempre serão usadas, mesmo que pouco, para poder
    _mos ajeitar visualizacões seja no mobile ou no desktop. As novas formatacões valem
    não apenas para tamanho de fonte, mas para qualquer coisa que quisermos reescrever. */
    
@media (max-width: 600px)
{
    :root
    {
        font-size: 3.8vw;
    }

    /* faca o teste com esse media query comentado e depois descomentado. Veja a visualiza
    _cão para celulares apertando CTRL +  SHIFT + I e clicando no símbolo que parece um celular
    e um tablet um ao lado do outro no topo da tela que vai abrir */
}


